@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: rgb(17, 30, 46);
  height: 100vh;
  width: 100%;
  color: #e6e6ef;
  display: flex;
}

body.light {
  background-color: #fff;
  color: white;
}

#Principal {
  width: 100%;
  height: 100vh;
  display: flex; 
  margin-top: 5%;
  margin-bottom: 0;
}
  
body.light h2 {
  color: black;
}

h2 {
  color: white;
  text-align: center;
  font-size: 30px;
}

#dados {
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#dados-botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;  
  margin: 0 auto;
  margin-bottom: 10px;
}

.card {
  height: 4.5rem;
  cursor: pointer;
  width: 10rem;
  background-color: #2a5ec5;
  transition: transform .3s;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all .3s;
}

.content {
  color:white;
  font-size:20px;
  text-align: center;
} 

#canvas-e-titulo{
  width: 100%;
  display: flex;
  flex-direction: column;
  height:350px;
  align-items: center;
}

#lucroChart {
  width: 100% !important;

  max-width: 800px;   
}

/*Sidebar do Painel*/
#sidebar-content {
  padding: 12px;
  height: 100%;
}

#user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

#logo-sidebar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;

}#user_infos {
  display: flex;
  flex-direction: column;
}

#user_infos span:last-child {
  color: #868686;
  font-size: 12px;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style: none;
  flex-grow: 1;
}

.side_item {
  padding: 14px;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
}

.side_item a{
  gap:14px
}

.side_item.active {
  background-color: #2a5ec5;
}

.side_item:hover:not(.active), #logout_btn:hover {
  background-color: rgb(75, 99, 128);
  color:white;
}

.side_item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.side_item.active a {
  color: #e3e9f7;
}

.side_item a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  transition: .3s ease
}

#logout {
  border-top: 1px solid #e3e9f7;
  padding: 12px;
}

#logout_btn {
  border: none;
  padding: 12px;
  display: flex;
  gap: 14px;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
  transition: .3s ease;
  color:white;
}

#logout_btn:hover {
  color:rgba(255, 0, 0, 0.795)
}

#open_btn {
  position: absolute;
  top: 30px;
  right: -10px; 
  background-color: #2a5ec5;
  color: white;
  border-radius: 100%;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#open_btn i {
  font-size: 15px;
}

#open_btn_icon {
  transition: tranform .3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}

.item-description {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  transition: width .6s;
}

#sidebar.open-sidebar {
  min-width: 10%;
}

#sidebar.open-sidebar .item-description {
  width: 150px;
}

#sidebar.open-sidebar .side_item {
  display: flex;
  gap: 14px;
  align-items: center;
}

#sidebar.open-sidebar .side_item a {
  justify-content: flex-start;
}

#config {
  
}

@media (min-width:900px) {
  #sidebar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(37, 55, 77);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
  }
}
@media (max-width:899px){
  #sidebar {
    font-family: 'Poppins', sans-serif;
    display: flex;    
    flex-direction: column;
    justify-content: space-between; 
    background-color: rgb(37, 55, 77);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: absolute;
    transition: all .5s;
    min-width: 82px;
    z-index: 1;
  }

  #sidebar.open-sidebar {
    position: fixed;
  }

  #Principal {
    margin-left: 120px;
  }
}
@media (max-width:819px){
  #sidebar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: rgb(37, 55, 77);
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    transition: all .5s;
    width: 100%;
    height: 100px;
  }

  #sidebar-content {
    padding: 12px;
  }
  
  #user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }
  
  #logo-sidebar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
  
  }#user_infos {
    display: flex;
    flex-direction: column;
  }
  
  #user_infos span:last-child {
    color: #868686;
    font-size: 12px;
  }
  
  #side_items {
    display: flex;
    gap: 8px;
    padding: 0;
    list-style: none;
  }
  
  .side_item {
    padding: 14px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    width: 8%;
  }
  
  .side_item a{
    gap:14px
  }
  
  .side_item.active {    
    background-color: #2a5ec5;
  }
  
  .side_item:hover:not(.active), #logout_btn:hover {
    background-color: rgb(75, 99, 128);
    color:white;
  }
  
  .side_item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
  }
  
  .side_item.active a {
    color: #e3e9f7;
  }
  
  .side_item a i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: .3s ease
  }
  
  #logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
  }
  
  #logout_btn {
    border: none;
    padding: 12px;
    display: flex;
    gap: 14px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    transition: .3s ease;
    color:white;
  }
  
  #logout_btn:hover {
    color:rgba(255, 0, 0, 0.795)
  }
  
  
  #open_btn {
    position: absolute;
    top: 30px;
    right: -10px; 
    background-color: #2a5ec5;
    color: white;
    border-radius: 100%;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  
  #open_btn i {
    font-size: 15px;
  }
  
  #open_btn_icon {
    transition: tranform .3s ease;
  }
  
  .open-sidebar #open_btn_icon {
    transform: rotate(180deg);
  }
  
  .item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
  }
  
  #sidebar.open-sidebar {
    min-width: 10%;
  }
  
  #sidebar.open-sidebar .item-description {
    width: 150px;
  }
  
  #sidebar.open-sidebar .side_item {
    display: flex;
    gap: 14px;
    align-items: center;
  }
  
  #sidebar.open-sidebar .side_item a {
    justify-content: flex-start;
  }
}


/**Scroll Página**/
::-webkit-scrollbar {
  width:13px;
}

::-webkit-scrollbar-track {
  background: rgb(37, 55, 77) ;
}

::-webkit-scrollbar-thumb {
  background-color: #1146c3;
  border-radius: 15px;
}