  @charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
  body {
    background-color: rgb(17, 30, 46);
    height: 100vh;
    width: 100%;
    color: #e6e6ef;
    display: flex;
    transition: background-color 0.3s ease, color 0.5
  }

  body.light {
    background-color: #fff;
    color: black;
  }

  body.light {
    background-color: #fff;
    color: black;
    height:100%;
  }

  section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body.light h2 {
    color: black;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
    cursor:pointer;
    text-align: center;
    border-radius: 15px;
    background-color: #0a31cf;
    background: linear-gradient(135deg, #1146c3, #2a5ec5);
    height: 80px;
    text-decoration: none;
    float:left;
    padding: 8px 0;
    margin: 0 10px;
    font-size: 32px;
    position: relative;
    margin-left:30px;
    margin-bottom:20px;
    min-width: 150px;
    max-width:100px;
  }

  .content {
    color:white;
    font-size:20px;
    text-align: center;
  }
  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    max-width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
  }

  a {
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #151515;
    color: #eee;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; /* Itens vão para a próxima linha se não couberem */
    justify-content: space-between;
    
  }

  a :hover {
    transform: translateY(-3px);
  }