
  @charset "UTF-8";
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  body {
    background-color: rgb(17, 30, 46);
    height: 100vh;
    width: 100%;
    color: #e6e6ef;
    display: flex;
    transition: color 0.3s ease;
  }


  #logout_btnlight {
    color:white;
  }


  html{
    font-family: "Poppins", sans-serif;
  }

  #Principal {
    width: 100%;
    height: 100vh;
    display: flex;
  }

  .Vendas{
    display: flex;
    font-weight: 100;
    font-style: normal;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: calc(100vh - 7%);
  }

  #vendas-metas {
    display: flex;
    width: 100%;
    height: 40%;
    min-height: 40%;
    gap: 3%;
  }

  #Vendas_Anuais_Mensais{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 2%;
    width: 50%;
    height: 100%;
    max-height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
  }

  .Scroll-Y {
    overflow-y: auto;
  }

  .Scroll-Y::-webkit-scrollbar-thumb {
    background: rgba(17, 30, 46, 0.531);
    border: 2px solid rgba(255, 255, 255, 0.05);
  }

  #Vendas_Anuais_Mensais #Vendas-Titulo{
    font-size: 25px;
    width: 100%;
    text-align: left;
    margin-bottom: 2%;
    font-weight: 500;
    margin-left: 20px ;
  }

  .Scroll-Y .Periodo-Valor {
    width: 90%;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
  }

  .Scroll-Y .Valor-Vendas {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 90%;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0;
  }

  #MetaVendas{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 2%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
  }

  #MetaTitulo{
    font-size: 25px;
    width: 100%;
    text-align: left;
    font-weight: 500;
    margin-bottom: 2%;
    margin-left: 30px;
    
  }
  .separator{
    border-bottom: 3px solid rgba(211, 211, 211, 0.545);
  }

  .Scroll-Y .MetaSubtitulo {
    width: 90%;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 5px;
  }

  #grafico {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 30px;
    width: 100%;
    height: 58%;
    padding-top: 2rem;
  }

  #lucroChart { 
    height: 100%;
    max-height: 100%;
    min-height: 100%px;
    margin: 0 auto;
    width: 80%;
    max-width: 100% !important;
  }

  #Pedidos {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #e6e6ef;
    width: 30%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    height: calc(100vh - 7%);
  }

  #GerenciarPedidos {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-bottom: 20px;
  }
  
  #btnAdicionar {
    width: 100%;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  #btnAdicionar {
    background-color: rgb(34, 175, 72);
    margin: 0;
    margin-bottom: 4%;
  }

  #btnAdicionar:hover {
    background-color: rgb(0, 119, 32);
  }

  #ListaPedidos {
    margin-top: 20px;
    overflow-y: auto;
    border: 3px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    scrollbar-color: rgb(36, 36, 36); 
  }

  #ListaPedidos::-webkit-scrollbar-thumb {
    background: rgba(17, 30, 46, 0.531);
    border: 2px solid rgba(255, 255, 255, 0.05);
  }

  #VendasTitulo{
    margin-bottom: 5px;
  }

  #ListaPedidos h3 {
    margin-bottom: 10px;
  }

  #PedidosLista {
    list-style: none;
    list-style-type: none;
    padding: 0;
    color: #e6e6ef; 
  }

  #PedidosLista li {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  /*Sidebar do Painel*/
  #sidebar-content {
    padding: 12px;
    height: 100%;
  }

  #user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }

  #logo-sidebar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;

  }#user_infos {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  #user_infos span:last-child {
    color: #868686;
    font-size: 12px;
  }

  #side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    list-style: none;
    flex-grow: 1;
  }

  .side_item {
    padding: 14px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
  }

  .side_item a{
    gap:14px
  }

  .side_item.active {
    background-color: #2a5ec5;
  }

  .side_item:hover:not(.active), #logout_btn:hover {
    background-color: rgb(75, 99, 128);
    color:white;
  }

  .side_item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
  }

  .side_item.active a {
    color: #e3e9f7;
  }

  .side_item a i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    transition: .3s ease
  }

  #logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
  }

  #logout_btn {
    border: none;
    padding: 12px;
    display: flex;
    gap: 14px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    transition: .3s ease;
    color:white;
  }

  #logout_btn:hover {
    color:rgba(255, 0, 0, 0.795)
  }

  #open_btn {
    position: absolute;
    top: 30px;
    right: -10px; 
    background-color: #2a5ec5;
    color: white;
    border-radius: 100%;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  #open_btn i {
    font-size: 15px;
  }

  #open_btn_icon {
    transition: tranform .3s ease;
  }

  .open-sidebar #open_btn_icon {
    transform: rotate(180deg);
  }

  .item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
  }

  .MetaSubtitulo {
    font-weight: bold;
    margin-top: 20px;
  }

  #sidebar.open-sidebar {
    min-width: 10%;
  }

  #sidebar.open-sidebar .item-description {
    width: 150px;
  }

  #sidebar.open-sidebar .side_item {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  #sidebar.open-sidebar .side_item a {
    justify-content: flex-start;
  }

  @media (min-width:900px) {
    #sidebar {
      font-family: 'Poppins', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgb(37, 55, 77);
      height: 100vh;
      border-radius: 0px 18px 18px 0px;
      position: relative;
      transition: all .5s;
      min-width: 82px;
    }
  }

  @media (max-width:899px){
    #sidebar {
      font-family: 'Poppins', sans-serif;
      display: flex;    
      flex-direction: column;
      justify-content: space-between; 
      background-color: rgb(37, 55, 77);
      height: 100vh;
      border-radius: 0px 18px 18px 0px;
      position: absolute;
      transition: all .5s;
      min-width: 82px;
      z-index: 1;
    }

    #sidebar.open-sidebar {
      position: fixed;
    }

    #Principal {
      margin-left: 120px;
    }
  }

  @media (max-width: 820px) {
    #Principal {
      margin: 0 auto;
      margin-top: 20px;
      padding-bottom: 60px; /* Espaço para a barra horizontal */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    h2 {
      font-size: 1.5rem;
    }

    #sidebar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgb(37, 55, 77);
      padding: 10px 0;
      border-radius: 0;
      z-index: 1000;
    }

    #sidebar-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      padding: 0;
    }

    #side_items {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 0;
      padding: 0;
      width: 100%;
    }

    .side_item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding: 10px 15px;
      gap: 8px;
    }

    .side_item a {
      justify-content: center;
    }

    #user {
      display: none;
    }

    #logout {
      position: fixed;
      border: none;
      padding: 0;
      margin: 0;
      top: 3px;
      right: 30px;
      z-index: 1000;
    }

    #logout_btn {
      align-items: center;
      gap: 14px;
      border: none;
      padding: 12px;
      display: flex;
      color:white;
    }

    #open_btn {
      display: none;
    }

    #toggle-theme {
      top: 10px;
      height: 30px;
    }

    @media (max-width: 370px) {
      h2 {
        font-size: 1rem;
      }
          
      #sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgb(37, 55, 77);
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 0;
        z-index: 1000;
      }

      #side_items {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 0;
        margin: 0;
      }

      .side_item {
        flex-shrink: 0;
        padding: 10px 15px;
      }
    }
  }

  #adicionarPedidoModal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  #adicionarPedidoModal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  #adicionarPedidoModal .modal-content {
    background-color: #111E2E;
    width: 400px; 
    display: flex;
    margin: 0 auto;
    margin-top: 2%;
    padding: 1.5%;
    border-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.603);
  }

  .adicionarpedido {
    width: 100%;
  }

  .adicionarpedido .modal-header, .modal-body, .modal-footer {
    background-color: #111E2E;
  }

  .adicionarpedido .label-form {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color: white;
  }

  .adicionarpedido .left {
    margin-left: 10%;
  }

  .adicionarpedido label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .adicionarpedido .input {
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    height:40px;
    background-color: #25374D;
    color: white;
  }

  .adicionarpedido .input::placeholder {
    color: white;
  }

  .adicionarpedido .metadinha {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .adicionarpedido .finalizado-radio .metadinha {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 40px;
  }

  .adicionarpedido .metadinha #produto, #funcionario, #venda, #quantidade, #data {
    width: 90%;
  }

  .adicionarpedido .metadinha #funcionario, #venda {
    margin-left: 10%;
    width: 90%;
  }

  .adicionarpedido .finalizado-radio .label-form {
    margin-left: 10%;
  }

  .adicionarpedido .metadinha .metade {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .adicionarpedido .finalizado-radio .metadinha label:first-child {
    margin-left: 10%;
  }
  
  .adicionarpedido .finalizado-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .adicionarpedido .finalizado-item {
    margin: 0;
  }

  .adicionarpedido button {
    width: 30%;
    height: 40px;
    padding: 4px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #3774f0;
  }

  .adicionarpedido #data {
    height: 40px;
    padding: 4px;
    color: white;
    background-color: #25374D;
    border-radius: 10px;
    border: none;
  }


  /**Scroll Página**/
  ::-webkit-scrollbar {
    width:13px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(37, 55, 77) ;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1146c3;
    border-radius: 15px;
  }

  .bar-container {
    position: relative; /* Define o contexto para elementos posicionados */
    width: 90%;
    --height: 30px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    height: var(--height);
    background-color: rgba(255, 255, 255, 0.162);
    border-radius: 15px;
    margin-bottom: 5px;
  }
  
  .budget {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  #ProgressBarAnual, #ProgressBarMensal, #ProgressBarSemanal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:1%;
    height: 20px;
    overflow: hidden;
    background-color: #3774f0;
    border-radius: 15px;
    transition: width 1s ease-in-out;
  }

  /* White Theme (Aparthied Reverso) */


  body.light {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    color: #000000;
    display: flex;
  }

  body.light .side_item.active {
    background-color: #ffffff;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }


  body.light #sidebar {
    background-color: #dcdcdcf1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  body.light #sidebar i{
    color:#2a5ec5;
  }

  body.light .side_item a {
    color: #2a5ec5;
  }
  body.light #logout_btn .item-description a{
    color:#2a5ec5;
  }
  body.light #logout_btn{
    color:#2a5ec5;
  }
  body.light #logout_btn:hover .item-description{
    color:#ff0000;
    background: transparent;
  }
  body.light #logout_btn:hover i{
    color:#ff0000;
    background: transparent;
  }
  body.light #open_btn i{
    color:white;
  }

  body.light ::-webkit-scrollbar {
    overflow-y:hidden;
  }
  body.light p .item-description{
    color:black;
    font-weight: bold;
  }
  body.light .side_item:hover:not(.active), #logout_btn:hover {
    background-color: #fffffff1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  }

  body.light #VendasTitulo{
    color:#2a5ec5;
  }
  body.light #PedidosLista li{
    color: #2a5ec5;
    box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1), 8px 6px 20px rgba(0, 0, 0, 0.1);
    border: 0.8px solid #2a5ec5;
  }

  body.light .Scroll-Y .Valor-Vendas {
    background-color: rgba(231, 228, 228, 0.707);
  }

  body.light .bar-container {
    background-color: rgba(231, 228, 228, 0.707);
  }

  body.light ::-webkit-scrollbar {
    width:13px;
  }

  body.light ::-webkit-scrollbar-track {
    background: rgb(212, 220, 229) ;
  }

  body.lightt ::-webkit-scrollbar-thumb {
    background-color: #e5e8f1;
    border-radius: 15px;
  }

  body.light .modal {
  background-color: rgba(216, 216, 216, 0.349);
  }

  body.light .content {
    background-color: #ffffff;

  }

  body.light .label-form {
    color:black;
  }

  body.light .input {
    background-color: #f5f4f4;
  }

  body.light .adicionarpedido #empresa ,.input ::placeholder {
    color: rgb(0, 0, 0);
  }


  body.light .adicionarpedido #funcionario ,.input ::placeholder {
    color: rgb(0, 0, 0);
  }

  body.light .adicionarpedido #produto ,.input ::placeholder {
    color: rgb(0, 0, 0);
  }

  body.light .adicionarpedido .input::placeholder {
    color: rgb(0, 0, 0);
  }

  body.light .adicionarpedido #data {

    color: #25374D;
    background-color: #ffffff;
    border: 1px solid black;
  }
