<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System4Team - Painel Administrativo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendas-style.css') }}">
    <script src="{{ url_for('static', filename='js/vendas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>      
    <nav id="sidebar">
        <div id="sidebar-content">
            <div id="user">
                <img src="{{ url_for('static', filename='images/profile/' + imagem_usuario) }}" alt="Logo" id="logo-sidebar">

                <p id="user_infos">
                    <span class="item-description">{{ username }}</span>
                    <span class="item-description">Cargo: {{ cargo }}</span>
                </p>
            </div>

            <!-- NAVBAR BY MOISES AND YOHAN -->
            <ul id="side_items">
                <li class="side_item">
                    <a href="/painel">
                        <i class="fa-solid fa-house"></i>
                        <span class="item-description">
                            Inicio
                        </span>
                    </a>
                </li>
                
                <li class="side_item active">
                    <a href="/vendas">
                        <i class="fa-solid fa-money-bill-1"></i>
                        <span class="item-description">
                            Vendas
                        </span>
                    </a>
                </li>
                <li class="side_item">
                    <a href="/relatorios">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Relatórios
                        </span>
                    </a>
                </li>
                <li class="side_item">
                    <a href="/clientes">
                        <i class="fa-solid fa-user"></i>
                        <span class="item-description">
                            Clientes
                        </span>
                    </a>
                </li>
                <li class="side_item">
                    <a href="/configuracoes">
                        <i class="fa-solid fa-gear"></i>
                        <span class="item-description">
                            Configurações
                        </span>
                    </a>
                </li>
            </ul>

            <button id="open_btn">
                <i class="fa-solid fa-chevron-right" id="open_btn_icon"></i>
            </button>
        </div>

        <div id="logout">
            <a href="{{ url_for('auth.logout') }}" id="logout_btn" style="width: 100%; text-decoration: none;">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">Logout</span>
            </a>
        </div>
    </nav>

    <section id="Principal">
        <div class="Vendas">
            <div id="vendas-metas">
                <div id="Vendas_Anuais_Mensais">
                    <h1 id="Vendas-Titulo">Vendas</h1>
                    <div class="Scroll-Y">
                        <p class="Periodo-Valor">Valor Anual</p><p class="Valor-Vendas">R$ {{ vendas_anuais }}</p>
                        <p class="Periodo-Valor">Valor Mensal</p><p class="Valor-Vendas">R$ {{ vendas_mensais }}</p>
                        <p class="Periodo-Valor">Valor Semanal</p><p class="Valor-Vendas">R$ {{ vendas_semanais }}</p>
                    </div>
                </div>
                <div id="MetaVendas">
                    <h1 id="MetaTitulo">Meta De Vendas</h1>
                    <div class="Scroll-Y">
                        <p class="MetaSubtitulo">Meta Anual</p>
                        <p class="MetaProgresso">Barra Progresso</p>
                        <p class="MetaSubtitulo">Meta Mensal</p>
                        <p class="MetaProgresso">Barra Progresso</p>
                        <p class="MetaSubtitulo">Meta Semanal</p>
                        <p class="MetaProgresso">Barra Progresso</p>
                    </div>
                </div>
            </div>

            <div id="canvas">
                <canvas id="lucroChart"></canvas>
            </div>
        </div>
        <div id="Pedidos">
            <div id="GerenciarPedidos">

                <!--Modal do Botão Adicionar-->
                <div class="modal">
                    <div class="content">
                        <form class="cad" action="/editar_pedido" method="POST">
                            <label for="input">
                                <p class="label-form">Nome</p>
                                <input placeholder="Digite aqui" type="text" class="input" name="nome" required>
                            </label>
                            <label for="produto">
                                <p class="label-form">Produto</p>
                                <select name="produto" id="produto" class="input" required>
                                    <option value="produto" selected hidden>Produto</option>
                                </select>
                            </label>
                            <label for="funcionario">
                                <p class="label-form">Funcionario</p>
                                <select name="funcionario" id="funcionario" class="input" required>
                                    <option value="funcionario" selected hidden>Funcionario</option>
                                </select>
                            </label>
                            <label for="quantidade">
                                <p class="label-form">Quantidade</p>
                                <input placeholder="Qtde." type="number" class="input" name="nome" required>
                            </label>
                            <label for="venda">
                                <p class="label-form">Venda nº</p>
                                <select name="venda-n" id="venda-n" class="input" required>
                                    <option value="venda-n" selected hidden>Venda</option>
                                </select>
                            </label>
                            <label for="empresa">
                                <p class="label-form">Empresa</p>
                                <select name="empresa" id="empresa" class="input" required>
                                    <option value="empresa" selected hidden>Empresa</option>
                                </select>
                            </label>
                            <label for="data">
                                <p class="label-form">Data</p>
                                <input type="datetime-local" 
                                        id="data" 
                                        name="data"  
                                        min="2023-06-07T00:00" 
                                        max="2030-06-07T00:00"
                                        required/>
                            </label>
                            <p class="label-form">Finalizado</p>
                            <div class="finalizado-radio">
                                <label class="finalizado-item">
                                    <input type="radio" name="finalizado" class="finalizado" value="opcao1" id="opcao1">
                                    Sim
                                </label>
                                <label class="finalizado-item">
                                    <input type="radio" name="finalizado" class="finalizado" value="opcao2" id="opcao2">
                                    Não
                                </label>
                            </div>
                            <button type="submit" class="submit">Salvar</button>
                            <button class="deny" data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>

                <button id="btnAdicionar">Adicionar Pedido</button>

                <!--Modal do Botão Editar-->
                <div class="modal">
                    <div class="content">
                        <form class="cad" action="/editar_pedido" method="POST">
                            <label for="input">
                                <p class="label-form">Nome</p>
                                <input placeholder="Digite aqui" type="text" class="input" name="nome" required>
                            </label>
                            <label for="produto">
                                <p class="label-form">Produto</p>
                                <select name="produto" id="produto" class="input" required>
                                    <option value="produto" selected hidden>Produto</option>
                                </select>
                            </label>
                            <label for="funcionario">
                                <p class="label-form">Funcionario</p>
                                <select name="funcionario" id="funcionario" class="input" required>
                                    <option value="funcionario" selected hidden>Funcionario</option>
                                </select>
                            </label>
                            <label for="quantidade">
                                <p class="label-form">Quantidade</p>
                                <input placeholder="Qtde." type="number" class="input" name="nome" required>
                            </label>
                            <label for="venda">
                                <p class="label-form">Venda nº</p>
                                <select name="venda-n" id="venda-n" class="input" required>
                                    <option value="venda-n" selected hidden>Venda</option>
                                </select>
                            </label>
                            <label for="empresa">
                                <p class="label-form">Empresa</p>
                                <select name="empresa" id="empresa" class="input" required>
                                    <option value="empresa" selected hidden>Empresa</option>
                                </select>
                            </label>
                            <label for="data">
                                <p class="label-form">Data</p>
                                <input type="datetime-local" 
                                        id="data" 
                                        name="data"  
                                        min="2023-06-07T00:00" 
                                        max="2030-06-07T00:00"
                                        required/>
                            </label>
                            <p class="label-form">Finalizado</p>
                            <div class="finalizado-radio">
                                <label class="finalizado-item">
                                    <input type="radio" name="finalizado" class="finalizado" value="opcao1" id="opcao1">
                                    Sim
                                </label>
                                <label class="finalizado-item">
                                    <input type="radio" name="finalizado" class="finalizado" value="opcao2" id="opcao2">
                                    Não
                                </label>
                            </div>
                            <button type="submit" class="submit">Salvar</button>
                            <button class="deny" data-bs-dismiss="modal">Cancelar</button>
                        </form>
                    </div>
                </div>

                <button id="btnEditar">Editar Pedido</button>
            </div>

            <div>
                <h3 id="VendasTitulo">Lista de vendas:</h3>
            </div>
            <div id="ListaPedidos">
                
                <ul id="PedidosLista">
                    <!-- Vai ser inserido aqui via JS -->
                </ul>
            </div>
        </div>
    </section>

    <button id="toggle-theme" style="background: none; border: none; cursor: pointer; position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
        <span id="theme-icon">☀️</span>
    </button>

    <!-- MENSAGENS ERRO -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
      {% endif %}
    {% endwith %}

 </body>
</html>
